<!DOCTYPE html>
<html>
    <head>
        <title>Persona 4 Golden Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div>
                <p>Calendar base guide for Persona 4 Golden. With all the social links, social stats, and tasks in-game to do, it can be hard to plan your day/week. This guide is meant to be as spoiler-lite as possible while providing a overview of what is available to you that day.</p>
                <p>
            </div>
            <div>
                <p>
                    <a href="/day/apr18">
                        <strong>Get Started Here</strong>
                    </a>
                </p>
                 <div class="container">
                    <img src="/img/banner.jpg" width="900px" alt="image of investigation team">
                </div>
                <hr>
                    
            </div>
            {{>footer}}
        </div>
    </body>
</html>
