<!DOCTYPE html>
<html>
    <head>
        <title>Persona 4 Golden Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
               <!-- jsCalendar v1.4.3 Javascript and CSS from jsdelivr npm cdn -->
        <script src="https://cdn.jsdelivr.net/npm/simple-jscalendar@1.4.3/source/jsCalendar.min.js" integrity="sha384-JqNLUzAxpw7zEu6rKS/TNPZ5ayCWPUY601zaig7cUEVfL+pBoLcDiIEkWHjl07Ot" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-jscalendar@1.4.3/source/jsCalendar.min.css" integrity="sha384-+OB2CadpqXIt7AheMhNaVI99xKH8j8b+bHC8P5m2tkpFopGBklD3IRvYjPekeWIJ" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div>
                <p>Calendar base guide for Persona 4 Golden. With all the social links, social stats, and tasks in-game to do, it can be hard to plan your day/week. This guide is meant to be as spoiler-lite as possible while providing a overview of what is available to you that day.</p>
                <p>
            </div>
            <div>
                
                 <div class="container">
                    <img src="/img/banner.jpg" class="banner" alt="image of investigation team">
                </div>
                
                <div class="container">
                    <h3>Jump to a date</h3>
                    <div id="gameCalendar"></div>
                </div>
                

                <h3>To Do</h3>
                <ul>
                    <li>Disable not gameplay dates on Calendars</li>
                    <li>Test on mobile</li>
                </ul>
                    
            </div>
            {{>footer}}
        </div>

        <script type="text/javascript">
            // Create the calendar
            var gameCalendar = jsCalendar.new({
                target: "#gameCalendar",
                navigator: true,
                dayFormat: "DDD",
                monthFormat: "month YYYY",
                date: "11/04/2011"
                });
            // Limit to only current month
            gameCalendar.min("01/04/2011");
            gameCalendar.max("20/03/2012");

            gameCalendar.onDateClick(function(event, date){
                var link = date.toJSON().substr(5,5).replace("-","");
                window.location.href = "/day/"+link
            }) 
        </script>

    </body>
</html>
