<footer>
    <div>
        <p>Created By: <a href="https://nguyenkevin.com" target="_blank">Kevin</a>. Data from <a href="https://raw.githubusercontent.com/LawlietBlack/Persona-4-Golden-Guide/master/js/data.json" target="_blank">Kenneth Black</a>. © 2020</p> 
    </div>
</footer>