<header>
    <h1>Persona 4 Golden Calendar Guide</h1>
    <div>
        <a href="/">Home</a>
        <a href="/day/0411">First Day</a>
        <a href="/slink">Social Links</a>
    </div>
</header>
